<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"></meta>
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"></meta>
<link href="./css/bootstrap.css" rel="stylesheet" th:href="@{./css/bootstrap.css}"
      type="text/css"></link>
<head>
    <title>Title</title>
</head>
<body>
<div th:fragment="footer">
    <div class="w-100 bg-light">
        <p class="text-center">Copyright K15T Software 2020 ( Employment Project by Tomi Lekar ) </p>
    </div>
</div>

</body>
</html>