<html>
<head>
    <title>PAT Registration</title>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"
            integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="public/css/app.css">
</head>
<body>
    #parse ("common/header.vm")
<div class="bannerText">
    <h1>
        <span>Java Meetup Registration</span>
    </h1>
</div>
<p>$MESSAGE</p>
<ul>
    #foreach($user in $users)
        <li>$user.getName()</li>
    #end
</ul>
<form>
    <p><input class="text-field" type="text" value="$user.getName()" placeholder="Tomi Lekar" name="name" disabled></p>
    <p><input class="text-field" type="password" value="$user.getPassword()" placeholder="password" name="password"
              disabled></p>
    <p><input class="text-field" type="email" value="$user.getEmail()" placeholder="tomi.lekar@outlook.de" name="email"
              disabled></p>
    <p><input class="text-field" type="text" value="$user.getNumber()" placeholder="+49 123 123" name="number" disabled>
    </p>
</form>
    #parse ("common/registredUsers.vm")
    #parse ("common/footer.vm")

</body>
</html>